<div class="container-fluid">

    <div class="row">
        <user-header></user-header>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Change password</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Change password</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <change-password></change-password>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>