<!--Change password screen-->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 page-header">
        <h1>Change password</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>

    <!--Change password form-->
    <form class="col-md-4 forms" name="changePasswordForm">
        <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine }">
            <label>Old password:</label>
            <input type="password" required name="oldPassword" class="form-control" ng-model="passwordData.oldPassword">
            <p ng-show="changePasswordForm.oldPassword.$invalid && !changePasswordForm.oldPassword.$pristine" class="help-block">Old password is missing.</p>

        </div>

        <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.password.$invalid && !changePasswordForm.password.$pristine }">
            <label>New password:</label>
            <input type="password" required name="password" class="form-control" ng-model="user.password">
            <p ng-show="changePasswordForm.password.$invalid && !changePasswordForm.password.$pristine" class="help-block">The new password is missing.</p>

        </div>

        <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine }">
            <label>Confirm new password:</label>
            <input type="password" required name="confirmPassword" class="form-control" ng-model="user.confirmPassword">
            <p ng-show="changePasswordForm.confirmPassword.$invalid && !changePasswordForm.confirmPassword.$pristine" class="help-block">Please, confirm the password.</p>
        </div>

        <input type="submit" class="btn btn-primary" value="Save Changes" ng-click="changePassword(passwordData, changePasswordForm)"/>
        <button class="btn btn-default" ng-click="cancelSave()">Cancel</button>
    </form>

    <div class="col-md-4"></div>
    <!--End of Change Password form-->
</div>
<!--Change Password screen end-->