<!--Edit profile screen-->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 page-header">
        <h1>Edit profile</h1>
    </div>
</div>
<form name="editProfileForm">
    <div class="form-container forms">
        <div class="child">
            <fieldset class="profile-fieldset">
                <label>Profile photo:</label><br/>
                <a href="#" class="thumbnail">
                    <img src="..." alt="Select profile photo.">
                </a>

                <p class="label label-info">Allowed format: .jpg</p><br/>

                <p class="label label-info">Limit: 1024kb</p><br/><br/>
                <button class="btn btn-default" ng-click="">Upload</button>
            </fieldset>
        </div>

        <div class="child">
            <fieldset class="profile-fieldset">
                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.name.$invalid && !editProfileForm.name.$pristine }">
                    <label>Name:</label>
                    <input type="text" required name="name" class="form-control" ng-model="profileData.name">

                    <p ng-show="editProfileForm.name.$invalid && !editProfileForm.name.$pristine" class="help-block">
                        Name is missing.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.mail.$invalid && !editProfileForm.mail.$pristine }">
                    <label>Email:</label>
                    <input type="email" name="mail" class="form-control" ng-model="profileData.mail" required>

                    <p ng-show="editProfileForm.mail.$invalid && !editProfileForm.mail.$pristine" class="help-block">
                        Invalid and/or missing email.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : editProfileForm.gender.$invalid && !editProfileForm.gender.$pristine }">
                    <label>Gender:</label>

                    <p>
                        <!--//TODO: solve the issue with the non-checked default radio button-->
                        <input type="radio" checked="true" name="gender" value="male"
                               ng-model="profileData.gender.male"> Male
                        <input type="radio" name="gender" value="female" ng-model="profileData.gender.female"> Female
                        <input type="radio" name="gender" value="other" ng-model="profileData.gender.other"> Other
                    </p>
                </div>

                <label>Cover photo:</label><br/>
                <a href="#" class="thumbnail">
                    <img src="..." alt="Select cover photo.">
                </a>
                <p class="label label-info">Limit: 1024kb</p><br/><br/>
                <button class="btn btn-default" ng-click="">Upload</button>
            </fieldset>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Save Changes" ng-click="editProfile(profileData, editProfileForm)"/>
            <button class="btn btn-default" ng-click="cancelSave()">Cancel</button>
        </div>
    </div>
</form>
<!--Edit profile screen end-->