<div class="container-fluid">
    <div class="row">
        <user-header></user-header>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1><span class="glyphicon glyphicon-comment menu-icon small"></span> News feed</h1>
        </div>
    </div>

    <div class="row">
        <!-- Posts column-->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <post-form></post-form>
                </div>
            </div>
            <p></p>

            <h3 ng-show="isNewsFeedEmpty">Your news feed is empty.</h3>
            <post ng-repeat="post in posts | orderBy: '-date'"></post>
        </div>

        <div class="col-md-1"></div>

        <!-- Friends column-->
        <div class="col-md-4">
            <friends-sidebar></friends-sidebar>
            <!--<div friends-sidebar sidebarUsername="{{username}}"></div>-->
        </div>
    </div>

</div>