<div class="container-fluid">
    <div class="row user-cover">
        <div class="col-md-3"></div>
        <div class="col-md-6 page-header">
            <h1>A somewhat <span class="angular"><img src="img/angular.png" alt="Angular logo"/></span> Social Network<br/><small>Welcome!</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <login></login>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>