<tr>
    <td>
        <img class="img-thumbnail" ng-src="{{comment.author.profileImageData}}" alt=""/>
    </td>
    <td>
        <a href="#/users/{{comment.author.username}}">{{comment.author.name}}</a>
        <p>{{comment.date | date:"dd/MM/yyyy ' at ' hh-mm-ss Z" : "+3000"}}</span></p>

        <p>{{comment.commentContent}}</p>
        <p>
            <span><a href="">{{comment.likesCount}} people liked this</a></span> -
            <span><a href="" ng-hide="isLiked">Like</a></span>
            <span><a href="" ng-show="isLiked">Unlike</a></span>
            <span class="pull-right"><a href="" ng-click="showReplyForm()">Reply</a></span>
        </p>
        <p>
        <form class="form-horizontal" ng-show="replyFormVisible">
            <div class="form-group-sm">
                <label class="sr-only" for="exampleComment">Comment here</label>
                <input type="text" class="form-control input-sm" id="exampleComment" ng-model="replyContent">
            </div>
            <button type="submit" class="btn btn-default input-sm pull-right comment-button" ng-click="addComment()">Comment</button>
        </form>
        </p>
    </td>
</tr>