<!-- Comments rows - one row for each comment-->
<tr>
    <td>
        <img class="img-thumbnail" src="img/straho.jpg" alt=""/>
    </td>
    <td>
        <a href="#/users/:username">Strahil Ruychev</a>
        <p>Here is the content of the comment: Welcome Kalin!</p>
        <p>
            <span> <a href="">Time of comment</a></span>
            <span><a href="">Like/Unlike</a></span>
            <span><a href="">Total likes</a></span>
            <span><a href="">Reply</a></span>
        </p>
        <p>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleComment">Comment here</label>
                <input type="text" class="form-control input-sm" id="exampleComment">
            </div>
            <button type="submit" class="btn btn-default input-sm">Comment</button>
        </form>
        </p>
    </td>
</tr>

<tr>
    <td>
        <img class="img-thumbnail" src="img/straho.jpg" alt=""/>
    </td>
    <td>
        <a href="#/users/:username">Strahil Ruychev</a>
        <p>Here is the content of the comment: Welcome Kalin!</p>
        <p>
            <span> <a href="">Time of comment</a></span>
            <span><a href="">Like/Unlike</a></span>
            <span><a href="">Total likes</a></span>
            <span><a href="">Reply</a></span>
        </p>
        <p>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleComment">Comment here</label>
                <input type="text" class="form-control input-sm" id="exampleComment">
            </div>
            <button type="submit" class="btn btn-default input-sm">Comment</button>
        </form>
        </p>
    </td>
</tr>

<tr>
    <td>
        <img class="img-thumbnail" src="img/straho.jpg" alt=""/>
    </td>
    <td>
        <a href="#/users/:username">Strahil Ruychev</a>
        <p>Here is the content of the comment: Welcome Kalin!</p>
        <p>
            <span> <a href="">Time of comment</a></span>
            <span><a href="">Like/Unlike</a></span>
            <span><a href="">Total likes</a></span>
            <span><a href="">Reply</a></span>
        </p>
        <p>
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleComment">Comment here</label>
                <input type="text" class="form-control input-sm" id="exampleComment">
            </div>
            <button type="submit" class="btn btn-default input-sm">Comment</button>
        </form>
        </p>
    </td>
</tr>
<tr>
    <td colspan="2">
        <a href="">See all comments: 21</a>
    </td>
</tr>
<!-- End of comments rows-->