@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: floralwhite !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

table {
    margin-top: 15px !important;
}

.forms {
    border: 1px solid darkgreen;
    border-radius: 5px;
    box-shadow: 0 0 20px grey;
    padding: 2%;
    margin-right: 1%;
}

.angular {
    font-family: "Helvetica Neue";
    color: red;
}

.menu-icon {
    font-size: 1.5em;
}

.thumbnail {
    margin-bottom: 3px !important;
}

.img-thumbnail {
    width: 50px;
}

.img-thumbnail-small {
    width: 35px;
}

. post-container {
    display: block;
}

td:nth-child(1) {
    width: 10%;
}

.user-preview-container {
    width: 25%;
    height: 10em;
}

.users-search-container {
    width: 15%;
}

.profile-picture-preview {
    display: block;
    width: 100px;
}

.cover-picture-preview {
    display: block;
    width: 250px;
    height: 150px !important;
}


